
 *{
    padding: 0;
    margin: 0;
}

.gameBoard
{  
  
    background: url(/images/image5.jpg) center; 
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    left: 50%;
    margin-top: 40% !important;
    transform: translateX(-50%);
    width: 40%;
    height: 300px;
    text-align: center;
    margin-bottom: 10%;
    
}



.counter
{   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px 0;

    z-index: 4;
}


.jumpingObject
{
   
    background-color: rgb(0, 0, 0);
    position:fixed;
    width: 10%;
    height: 25px;

    z-index: 2;
}


.blockMoving
{
    background-color: rgb(219, 13, 47);
    position: fixed;
    width: 10%;
    height: 25px;
    top: 91.5% !important;
 
    z-index: 2;
}



