
 *{
    padding: 0;
    margin: 0;
}

.gameBoard
{  
  
    background: url(/images/image0.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    left: 50%;
    margin-top: 20% !important;
    transform: translateX(-50%);
    width: 43%;
    height:300px;
    text-align: center;

    
}



.counter
{   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px 0;

    z-index: 4;
}


.jumpingObject
{
   
    background-color: rgb(0, 0, 0);
    position:fixed;
    width: 3%;
    height: 25px;

    z-index: 2;
}


.blockMoving
{
    background-color: rgb(219, 13, 47);
    position: fixed;
    width: 3%;
    height: 25px;
    top: 91.5% !important;
 
    z-index: 2;
}



