
 *{
    padding: 0;
    margin: 0;
}

.gameBoard
{  
  
    background-color: rgba(34, 0, 255, 0.983);
    position: relative;
    top:400px;
    width: 500px;
    height: 500px;
    z-index: 1;
    left:50%;
    transform:translate(-50%,-50%);
    
}

.counter
{   
    top: 200px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align:center;
    position: relative;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 4;
}


.jumpingObject
{
    background-color: rgba(0, 0, 0, 0);
  
    position: relative;
    top:472px;
    width: 60px;
    height: 60px;
    left:490px;
    transform:translate(-50%,-50%);
   
    z-index: 2;
}


.blockMoving
{
    background-color: rgb(219, 13, 47);
  
    position: relative;
top: 405px;
    width: 60px;
    height: 60px;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
}



